.catalog {
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    display: grid;
    justify-content: center;
    gap: 50px 48px;
    grid-template-columns: repeat(auto-fill, $card-width);

    max-width: $max-box-width;
    min-width: $card-width;
    margin-top: 50px;
  }
}
